<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    
    
    <title>React App</title>
    {% load static  %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
        <link rel="icon" href="{% static "images/logo_first_page.png" %}">
  </head>
  <body>
    
    <div id="main">
      <div id ="app"></div>
    </div>
    
    <script src="{% static "frontend/main.js" %}"></script>
  </body>
</html>
