.pageContiner{
    background-color: rgba(220, 234, 243, 0.897);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 10%;

}

.product_tab_div{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;
    margin-bottom: 10%;

}