.cartpaper{
    flex-flow: row;
    margin-top: 7rem;
    margin-bottom: 7rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: space-evenly;
    
}
.cartscreen_h2 {
    margin-bottom: 1rem;
    color: black;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}
  
.cart_info{
    color: black;
    font-size: 30px;
}
.cartscreen__left {
    width: 50%;
    display: flex;
    flex-flow: column;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 5rem;
    background: transparent;
    float: left;
    
    
}
  
.cartscreen__right {
    width: 35%;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    height: fit-content;
    margin-top: 5rem;
    float: left;
}
  
.cartscreen__right div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
  
.cartscreen__info p {
    padding: 8px;
}
  
.cartscreen__info p:first-child {
    font-weight: bold;
}
  
.cartscreen__right div:last-child {
    border: none;
}
  
.cartscreen__right div button {
    padding: 10px 17px;
    width: 100%;
    background: #171717;
    color: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer;
}
  
.cartscreen__right div button:hover {
    opacity: 0.9;
}
  
/* @media (max-width: 1320px) {
 .cartscreen {
   max-width: 900px;
 }
}

@media (max-width: 960px) {
 .cartscreen {
     max-width: 800px;
 }
}
  
@media (max-width: 960px) {
 .cartscreen {
   flex-direction: column;
 }

 .cartscreen__right {
   margin: 1rem;
 }
} */
  