.search_div{
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 2;
}

.button_div{
    display: flex;
    flex-flow: row;
    position: sticky;
}

.container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
}

.nav_buttons{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-grow: 1;

}

@media (min-width: 600px){

    .button_div {
        margin-left: auto;
    }
}
