.add_div{
    margin-top: 15px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
}

.prod_box{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    
}